<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/aa"
        android:label="Kindergarten"
        android:roundIcon="@drawable/aa"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".videos"></activity>
        <activity android:name=".Map" />
        <activity android:name=".Admin" />
        <activity android:name=".services" />
        <activity android:name=".settings" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>